* {
    box-sizing: border-box;
}

.spacer {
    padding-top: 1.5rem;
    border-top: 4px solid #B5B9FF;
}

.btn {
    background-color: #B5B9FF;
    border-color: #B5B9FF;
    border: none;
}